---
import Navbar from '../components/Navbar.astro';
import Projects from '../components/Projects.astro';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Ali Mosallaei</title>

	<link rel="icon" type="image/x-icon" href="https://emojicdn.elk.sh/%F0%9F%93%A6?style=google" />
	<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<main>
		<div class="lg:w-3/6 px-12 lg:px-0 m-auto mt-16 mb-16">
			<Navbar></Navbar>
			<p class="text-md mt-5">
			Hey there, my name is Ali Mosallaei. I am a current Senior at Lexington High School. I'm a podcaster, developer, researcher at Northeastern University, and future engineer applying to college. I also write a few blog posts at times, check them out if you like to see what I'm thinking.
			<br><br>
			I have a GitHub, but it's pretty barren right now. Need to get in touch with me? Shoot me an email at ali@mosallaei.com.</p>
			<br><hr><br>
			<Projects></Projects>
		</div>
	</main>
</body>
</html>
