---
---
<span class="flex">
    <button onclick="window.location.href='/'" class="bg-gray-100 border border-gray-300 w-fit rounded py-1 px-3 mr-3 bg-gradient-to-r from-blue-200 to-blue-50">
        Ali Mosallaei
    </button>
    <button onclick="window.location.href='/blog'" class="bg-gray-100 border border-gray-300 w-fit rounded py-1 px-3 mr-3">
        Blog
    </button>
    <button onclick="window.location.href='https://twitter.com/mosallaei_'" class="bg-gray-100 border border-gray-300 w-fit rounded py-1 px-3 mr-3">
        Twitter
    </button>
    <button onclick="window.location.href='mailto:ali@mosallaei.com'" class="bg-gray-100 border border-gray-300 w-fit rounded py-1 px-3 mr-3">
        Contact
    </button>
</span>

